# 7.10 stduy File

In [35]:
import sqlite3

In [36]:
conn = sqlite3.connect(':memory:')

In [37]:
cur = conn.cursor()

In [9]:
cur.execute('drop table track')

In [38]:
cur.executescript(
"""
    create table artist (
        id integer primary key autoincrement,
        name text
        
    );
    
    create table genre (
        id integer primary key autoincrement,
        name text
    );
    
    create table album (
        id integer primary key autoincrement,
        title text,
        artist_id integer
    );
    
    create table track (
        id integer primary key autoincrement,
        title text,
        length integer,
        rating integer,
        count integer,
        album_id integer,
        genre_id integer
        
    );
""")

In [39]:
cur.executescript(
"""
    insert into Artist (name) values ('Led Zepplin');
    insert into Artist (name) values ('AC/DC');
    
    insert into Genre (name) values ('Rock');
    insert into Genre (name) values ('Metal');

    insert into Album (title, artist_id) values ('Who Made Who', 2);
    insert into Album (title, artist_id) values ('IV', 1);

    insert into Track (title, rating, length, count, album_id, genre_id) values ('Black Dog', 5, 297, 0, 2, 1);
    insert into Track (title, rating, length, count, album_id, genre_id) values ('Stairway', 5, 482, 0, 2, 1);
    insert into Track (title, rating, length, count, album_id, genre_id) values ('About to Rock', 5, 313, 0, 1, 2);
    insert into Track (title, rating, length, count, album_id, genre_id) values ('Who Made Who', 5, 207, 0, 1, 2);
""")

In [18]:
cur.execute('select * from artist')
artist = cur.fetchall()
cur.execute('select * from genre')
genre = cur.fetchall()
cur.execute('select * from album')
album = cur.fetchall()
cur.execute('select * from track')
track = cur.fetchall()

In [23]:
cur.execute('select artist.name,album.title from artist join album on artist.id=album.artist_id')

In [24]:
for row in cur.fetchall():
    print(row)

('AC/DC', 'Who Made Who')
('Led Zepplin', 'IV')

In [28]:
con = sqlite3.connect('existing_db.db')
with open('dump.sql','w') as f:
    for line in con.iterdump():
        f.write('%s\n' % line)

In [30]:
data = None
with open('test.dump','r') as f:
          data=f.read()
conn = sqlite3.connect('dump.db')
cur = conn.cursor()
cur.execute(data)

FileNotFoundError: [Errno 2] No such file or directory: 'test.dump'

In [41]:
cur.execute("select * from track")
cur.fetchall()

[(1, 'Black Dog', 297, 5, 0, 2, 1),
 (2, 'Stairway', 482, 5, 0, 2, 1),
 (3, 'About to Rock', 313, 5, 0, 1, 2),
 (4, 'Who Made Who', 207, 5, 0, 1, 2)]

In [42]:
cur.execute("select * from track left join album on album.id = track.album_id")

In [43]:
for row in cur.fetchall():
    print(row)

(1, 'Black Dog', 297, 5, 0, 2, 1, 2, 'IV', 1)
(2, 'Stairway', 482, 5, 0, 2, 1, 2, 'IV', 1)
(3, 'About to Rock', 313, 5, 0, 1, 2, 1, 'Who Made Who', 2)
(4, 'Who Made Who', 207, 5, 0, 1, 2, 1, 'Who Made Who', 2)

orm을 쓰는 이유는 매핑을 해줘서 편리하기 때문이다

sqlalchmey 는 python에 지원하는 orm tool

- core : engine ,direct,connection ( 각 api와 통신하느 역할 )

In [45]:
import sqlalchemy

In [46]:
sqlalchemy.__version__

'1.2.7'

In [47]:
!pip list

Package                            Version
---------------------------------- ---------
alabaster                          0.7.10
anaconda-client                    1.6.14
anaconda-navigator                 1.8.7
anaconda-project                   0.8.2
asn1crypto                         0.24.0
astroid                            1.6.3
astropy                            3.0.2
attrs                              18.1.0
Babel                              2.5.3
backcall                           0.1.0
backports.shutil-get-terminal-size 1.0.0
beautifulsoup4                     4.6.0
bitarray                           0.8.1
bkcharts                           0.2
blaze                              0.11.3
bleach                             2.1.3
bokeh                              0.12.16
boto                               2.48.0
Bottleneck                         1.2.1
certifi                            2018.4.16
cffi                               1.11.5
chardet                            3.0.4
click                              6.7
cloudpickle                        0.5.3
clyent                             1.2.2
colorama                           0.3.9
comtypes                           1.1.4
conda                              4.5.4
conda-build                        3.10.5
conda-verify                       2.0.0
contextlib2                        0.5.5
cryptography                       2.2.2
cycler                             0.10.0
Cython                             0.28.2
cytoolz                            0.9.0.1
dask                               0.17.5
datashape                          0.5.4
decorator                          4.3.0
distributed                        1.21.8
docutils                           0.14
entrypoints                        0.2.3
et-xmlfile                         1.0.1
fastcache                          1.0.2
filelock                           3.0.4
Flask                              1.0.2
Flask-Cors                         3.0.4
gevent                             1.3.0
glob2                              0.6
greenlet                           0.4.13
h5py                               2.7.1
heapdict                           1.0.0
html5lib                           1.0.1
idna                               2.6
imageio                            2.3.0
imagesize                          1.0.0
ipykernel                          4.8.2
ipython                            6.4.0
ipython-genutils                   0.2.0
ipywidgets                         7.2.1
isort                              4.3.4
itsdangerous                       0.24
jdcal                              1.4
jedi                               0.12.0
Jinja2                             2.10
jsonschema                         2.6.0
jupyter                            1.0.0
jupyter-client                     5.2.3
jupyter-console                    5.2.0
jupyter-core                       4.4.0
jupyterlab                         0.32.1
jupyterlab-launcher                0.10.5
kiwisolver                         1.0.1
lazy-object-proxy                  1.3.1
llvmlite                           0.23.1
locket                             0.2.0
lxml                               4.2.1
MarkupSafe                         1.0
matplotlib                         2.2.2
mccabe                             0.6.1
menuinst                           1.4.14
mistune                            0.8.3
mkl-fft                            1.0.0
mkl-random                         1.0.1
more-itertools                     4.1.0
mpmath                             1.0.0
msgpack-python                     0.5.6
multipledispatch                   0.5.0
navigator-updater                  0.2.1
nbconvert                          5.3.1
nbformat                           4.4.0
networkx                           2.1
nltk                               3.3
nose                               1.3.7
notebook                           5.5.0
numba                              0.38.0
numexpr                            2.6.5
numpy                              1.14.3
numpydoc                           0.8.0
odo                                0.5.1
olefile                            0.45.1
openpyxl                           2.5.3
packaging                          17.1
pandas                             0.23.0
pandocfilters                      1.4.2
parso                              0.2.0
partd                              0.3.8
path.py                            11.0.1
pathlib2                           2.3.2
patsy                              0.5.0
pep8                               1.7.1
pickleshare                        0.7.4
Pillow                             5.1.0
pip                                10.0.1
pkginfo                            1.4.2
pluggy                             0.6.0
ply                                3.11
prompt-toolkit                     1.0.15
psutil                             5.4.5
py                                 1.5.3
pycodestyle                        2.4.0
pycosat                            0.6.3
pycparser                          2.18
pycrypto                           2.6.1
pycurl                             7.43.0.1
pyflakes                           1.6.0
Pygments                           2.2.0
pylint                             1.8.4
pyodbc                             4.0.23
pyOpenSSL                          18.0.0
pyparsing                          2.2.0
PySocks                            1.6.8
pytest                             3.5.1
pytest-arraydiff                   0.2
pytest-astropy                     0.3.0
pytest-doctestplus                 0.1.3
pytest-openfiles                   0.3.0
pytest-remotedata                  0.2.1
python-dateutil                    2.7.3
pytz                               2018.4
PyWavelets                         0.5.2
pywin32                            223
pywinpty                           0.5.1
PyYAML                             3.12
pyzmq                              17.0.0
QtAwesome                          0.4.4
qtconsole                          4.3.1
QtPy                               1.4.1
requests                           2.18.4
rope                               0.10.7
ruamel-yaml                        0.15.35
scikit-image                       0.13.1
scikit-learn                       0.19.1
scipy                              1.1.0
seaborn                            0.8.1
Send2Trash                         1.5.0
setuptools                         39.1.0
simplegeneric                      0.8.1
singledispatch                     3.4.0.3
six                                1.11.0
snowballstemmer                    1.2.1
sortedcollections                  0.6.1
sortedcontainers                   1.5.10
Sphinx                             1.7.4
sphinxcontrib-websupport           1.0.1
spyder                             3.2.8
SQLAlchemy                         1.2.7
statsmodels                        0.9.0
sympy                              1.1.1
tables                             3.4.3
tblib                              1.3.2
terminado                          0.8.1
testpath                           0.3.1
toolz                              0.9.0
tornado                            5.0.2
traitlets                          4.3.2
typing                             3.6.4
unicodecsv                         0.14.1
urllib3                            1.22
wcwidth                            0.1.7
webencodings                       0.5.1
Werkzeug                           0.14.1
wheel                              0.31.1
widgetsnbextension                 3.2.1
win-inet-pton                      1.0.1
win-unicode-console                0.5
wincertstore                       0.2
wrapt                              1.10.11
xlrd                               1.1.0
XlsxWriter                         1.0.4
xlwings                            0.11.8
xlwt                               1.3.0
zict                               0.1.3

In [187]:
from sqlalchemy import create_engine
engine = create_engine("sqlite:///alchemytest.db",echo=True)
print(engine)

Engine(sqlite:///alchemytest.db)

In [188]:
from sqlalchemy import Table,Column,Integer,String,MetaData,ForeignKey

In [189]:
metadata = MetaData()
users = Table('users',metadata,
            Column('id',Integer,primary_key=True),
            Column('name',String),
            Column('fullname',String),
)

In [190]:
addresses = Table('addresses',metadata,
            Column('id,',Integer,primary_key=True),
            Column('user_id',None,ForeignKey('users.id')),
            Column('email_address',String,nullable=False)
)

In [191]:
metadata.create_all(engine)

2018-07-10 16:23:51,967 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1

2018-07-10 16:23:51,970 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:23:51,972 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1

2018-07-10 16:23:51,974 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:23:51,977 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("users")

2018-07-10 16:23:51,978 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:23:51,981 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("addresses")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("addresses")

2018-07-10 16:23:51,983 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:23:51,986 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	PRIMARY KEY (id)
)

INFO:sqlalchemy.engine.base.Engine:
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	PRIMARY KEY (id)
)

2018-07-10 16:23:51,988 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:23:52,005 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

2018-07-10 16:23:52,008 INFO sqlalchemy.engine.base.Engine
CREATE TABLE addresses (
	"id," INTEGER NOT NULL,
	user_id INTEGER,
	email_address VARCHAR NOT NULL,
	PRIMARY KEY ("id,"),
	FOREIGN KEY(user_id) REFERENCES users (id)
)

INFO:sqlalchemy.engine.base.Engine:
CREATE TABLE addresses (
	"id," INTEGER NOT NULL,
	user_id INTEGER,
	email_address VARCHAR NOT NULL,
	PRIMARY KEY ("id,"),
	FOREIGN KEY(user_id) REFERENCES users (id)
)

2018-07-10 16:23:52,009 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:23:52,024 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [192]:
insert = users.insert()
print(insert)
insert = users.insert().values(name='kim',fullname='Anonymous, Kim')
print(insert)
insert.compile().params

INSERT INTO users (id, name, fullname) VALUES (:id, :name, :fullname)
INSERT INTO users (name, fullname) VALUES (:name, :fullname)

{'name': 'kim', 'fullname': 'Anonymous, Kim'}

In [64]:
for row in metadata.tables:
    print(row)

users
addresses

In [68]:
users.select().compile().params

{}

In [69]:
insert.bind = engine

In [70]:
insert

In [71]:
conn = engine.connect()

In [72]:
str(insert)

'INSERT INTO users (name, fullname) VALUES (?, ?)'

In [73]:
result = conn.execute(insert)

2018-07-10 13:52:55,687 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO users (name, fullname) VALUES (?, ?)

2018-07-10 13:52:55,689 INFO sqlalchemy.engine.base.Engine ('kim', 'Anonymous, Kim')

INFO:sqlalchemy.engine.base.Engine:('kim', 'Anonymous, Kim')

2018-07-10 13:52:55,691 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [74]:
insert = users.insert()
result = conn.execute(insert,name='lee',fullname='unkown, lee')
result.inserted_primary_key

2018-07-10 13:54:15,021 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO users (name, fullname) VALUES (?, ?)

2018-07-10 13:54:15,024 INFO sqlalchemy.engine.base.Engine ('lee', 'unkown, lee')

INFO:sqlalchemy.engine.base.Engine:('lee', 'unkown, lee')

2018-07-10 13:54:15,026 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

[2]

In [75]:
conn.execute(addresses.insert(), [
    {"user_id":1,"email_address":"anonymous.kim@test.com"},
    {"user_id":2,"email_address":"unknown@test.com"},
    
])

2018-07-10 14:10:06,549 INFO sqlalchemy.engine.base.Engine INSERT INTO addresses (user_id, email_address) VALUES (?, ?)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO addresses (user_id, email_address) VALUES (?, ?)

2018-07-10 14:10:06,551 INFO sqlalchemy.engine.base.Engine ((1, 'anonymous.kim@test.com'), (2, 'unknown@test.com'))

INFO:sqlalchemy.engine.base.Engine:((1, 'anonymous.kim@test.com'), (2, 'unknown@test.com'))

2018-07-10 14:10:06,554 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [98]:
from sqlalchemy.sql import select
query = select([users.c.name, users.c.fullname])
result = conn.execute(query)
tmp = result.fetchone()
print(tmp)

2018-07-10 14:29:30,898 INFO sqlalchemy.engine.base.Engine SELECT users.name, users.fullname
FROM users

INFO:sqlalchemy.engine.base.Engine:SELECT users.name, users.fullname
FROM users

2018-07-10 14:29:30,901 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

('kim', 'Anonymous, Kim')

In [86]:
result = conn.execute(insert , name="xxx",fullname="xxxx,xxxx")

2018-07-10 14:13:35,325 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO users (name, fullname) VALUES (?, ?)

2018-07-10 14:13:35,327 INFO sqlalchemy.engine.base.Engine ('xxx', 'xxxx,xxxx')

INFO:sqlalchemy.engine.base.Engine:('xxx', 'xxxx,xxxx')

2018-07-10 14:13:35,330 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [87]:
result.inserted_primary_key

[3]

In [ ]:
conn.execute(users)

In [99]:
from sqlalchemy import and_,or_,not_

In [100]:
print(users.c.id == addresses.c.user_id)

users.id = addresses.user_id

In [103]:
result = conn.execute(select([users]).where(users.c.id == 1))
print(result)

2018-07-10 14:32:29,903 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
WHERE users.id = ?

INFO:sqlalchemy.engine.base.Engine:SELECT users.id, users.name, users.fullname
FROM users
WHERE users.id = ?

2018-07-10 14:32:29,905 INFO sqlalchemy.engine.base.Engine (1,)

INFO:sqlalchemy.engine.base.Engine:(1,)

<sqlalchemy.engine.result.ResultProxy object at 0x000001C39767BE80>

In [104]:
orStr = or_(users.c.id == addresses.c.user_id , users.c.id == 1)

In [105]:
print(orStr)

users.id = addresses.user_id OR users.id = :id_1

In [107]:
result = conn.execute(select([users]).where(orStr))
for row in result:
    print(row)

2018-07-10 14:34:34,579 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users, addresses
WHERE users.id = addresses.user_id OR users.id = ?

INFO:sqlalchemy.engine.base.Engine:SELECT users.id, users.name, users.fullname
FROM users, addresses
WHERE users.id = addresses.user_id OR users.id = ?

2018-07-10 14:34:34,581 INFO sqlalchemy.engine.base.Engine (1,)

INFO:sqlalchemy.engine.base.Engine:(1,)

(1, 'kim', 'Anonymous, Kim')
(1, 'kim', 'Anonymous, Kim')
(2, 'lee', 'unkown, lee')

In [111]:
result = conn.execute(select([users,addresses]).where(users.c.id ==addresses.c.user_id))

2018-07-10 14:43:24,144 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname, addresses."id,", addresses.user_id, addresses.email_address
FROM users, addresses
WHERE users.id = addresses.user_id

INFO:sqlalchemy.engine.base.Engine:SELECT users.id, users.name, users.fullname, addresses."id,", addresses.user_id, addresses.email_address
FROM users, addresses
WHERE users.id = addresses.user_id

2018-07-10 14:43:24,146 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

In [112]:
for row in result:
    print(row)

(1, 'kim', 'Anonymous, Kim', 1, 1, 'anonymous.kim@test.com')
(2, 'lee', 'unkown, lee', 2, 2, 'unknown@test.com')

In [113]:
result = conn.execute(select([users]).where(users.c.name.like("k%")))
for row in result:
    print(row)

2018-07-10 14:45:15,419 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
WHERE users.name LIKE ?

INFO:sqlalchemy.engine.base.Engine:SELECT users.id, users.name, users.fullname
FROM users
WHERE users.name LIKE ?

2018-07-10 14:45:15,422 INFO sqlalchemy.engine.base.Engine ('k%',)

INFO:sqlalchemy.engine.base.Engine:('k%',)

(1, 'kim', 'Anonymous, Kim')

In [114]:
result = conn.execute(select([users,addresses]).where(users.c.id == addresses.c.user_id).where(users.c.name.like("k%")))

2018-07-10 14:47:49,610 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname, addresses."id,", addresses.user_id, addresses.email_address
FROM users, addresses
WHERE users.id = addresses.user_id AND users.name LIKE ?

INFO:sqlalchemy.engine.base.Engine:SELECT users.id, users.name, users.fullname, addresses."id,", addresses.user_id, addresses.email_address
FROM users, addresses
WHERE users.id = addresses.user_id AND users.name LIKE ?

2018-07-10 14:47:49,612 INFO sqlalchemy.engine.base.Engine ('k%',)

INFO:sqlalchemy.engine.base.Engine:('k%',)

In [115]:
for row in result:
    print(row)

(1, 'kim', 'Anonymous, Kim', 1, 1, 'anonymous.kim@test.com')

In [116]:
from sqlalchemy import join

In [117]:
print(users.join(addresses))

users JOIN addresses ON users.id = addresses.user_id

In [121]:
print(users.join(addresses,users.c.id==addresses.c.user_id))

users JOIN addresses ON users.id = addresses.user_id

In [127]:
result = conn.execute(select([users.c.name,addresses.c.email_address]).select_from(users.join(addresses)))

2018-07-10 15:13:29,531 INFO sqlalchemy.engine.base.Engine SELECT users.name, addresses.email_address
FROM users JOIN addresses ON users.id = addresses.user_id

INFO:sqlalchemy.engine.base.Engine:SELECT users.name, addresses.email_address
FROM users JOIN addresses ON users.id = addresses.user_id

2018-07-10 15:13:29,533 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

In [128]:
for row in result:
    print(row)

('kim', 'anonymous.kim@test.com')
('lee', 'unknown@test.com')

In [193]:
artist = sqlalchemy.Table("Artist",metadata,
                         Column("id", Integer, primary_key=True),
                         Column("name", String, nullable=False),
                         extend_existing=True)

album = sqlalchemy.Table("Album",metadata,
                         Column("id", Integer, primary_key=True),
                         Column("title", String, nullable=False),
                         Column("artist_id",Integer,ForeignKey("Artist.id")),
                         extend_existing=True)

genre = sqlalchemy.Table("Genre",metadata,
                         Column("id", Integer, primary_key=True),
                         Column("name", String, nullable=False),
                         extend_existing=True)

In [194]:
Track = sqlalchemy.Table("Track",metadata,
                         Column("id", Integer, primary_key=True),
                         Column("title", String, nullable=False),
                         Column("length",Integer,nullable=False),
                         Column("rating",Integer,nullable=False),
                         Column("count",Integer,nullable=False),
                         Column("album_id",Integer,ForeignKey("Album.id")),
                         Column("genre_id",Integer,ForeignKey("Genre.id")),
                         extend_existing=True)
metadata.create_all(engine)

2018-07-10 16:24:12,402 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("users")

2018-07-10 16:24:12,405 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:24:12,409 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("addresses")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("addresses")

2018-07-10 16:24:12,411 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:24:12,413 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("Artist")

2018-07-10 16:24:12,415 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:24:12,417 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("Album")

2018-07-10 16:24:12,419 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:24:12,421 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("Genre")

2018-07-10 16:24:12,423 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:24:12,425 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("Track")

2018-07-10 16:24:12,427 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:24:12,430 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Artist" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)

INFO:sqlalchemy.engine.base.Engine:
CREATE TABLE "Artist" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)

2018-07-10 16:24:12,432 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:24:12,447 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

2018-07-10 16:24:12,449 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Genre" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)

INFO:sqlalchemy.engine.base.Engine:
CREATE TABLE "Genre" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)

2018-07-10 16:24:12,451 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:24:12,467 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

2018-07-10 16:24:12,469 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Album" (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	artist_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(artist_id) REFERENCES "Artist" (id)
)

INFO:sqlalchemy.engine.base.Engine:
CREATE TABLE "Album" (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	artist_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(artist_id) REFERENCES "Artist" (id)
)

2018-07-10 16:24:12,471 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:24:12,489 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

2018-07-10 16:24:12,491 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Track" (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	length INTEGER NOT NULL,
	rating INTEGER NOT NULL,
	count INTEGER NOT NULL,
	album_id INTEGER,
	genre_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(album_id) REFERENCES "Album" (id),
	FOREIGN KEY(genre_id) REFERENCES "Genre" (id)
)

INFO:sqlalchemy.engine.base.Engine:
CREATE TABLE "Track" (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	length INTEGER NOT NULL,
	rating INTEGER NOT NULL,
	count INTEGER NOT NULL,
	album_id INTEGER,
	genre_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(album_id) REFERENCES "Album" (id),
	FOREIGN KEY(genre_id) REFERENCES "Genre" (id)
)

2018-07-10 16:24:12,493 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:24:12,512 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [195]:
conn.execute(Track.drop())

UnboundExecutionError: Table object 'Track' is not bound to an Engine or Connection.  Execution can not proceed without a database to execute against.

In [196]:
tables = metadata.tables

In [197]:
for table in tables:
    print(table)

users
addresses
Artist
Album
Genre
Track

In [210]:
for table in engine.table_names():
    print(table)

2018-07-10 16:26:31,315 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name

INFO:sqlalchemy.engine.base.Engine:SELECT name FROM sqlite_master WHERE type='table' ORDER BY name

2018-07-10 16:26:31,317 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

Album
Artist
Genre
Track
addresses
users

In [224]:
conn.execute(artist.insert(),[
    {"name":"Led Zeppling"},
    {"name":"AC/DC"}
])

2018-07-10 16:33:46,258 INFO sqlalchemy.engine.base.Engine INSERT INTO "Artist" (name) VALUES (?)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO "Artist" (name) VALUES (?)

2018-07-10 16:33:46,260 INFO sqlalchemy.engine.base.Engine (('Led Zeppling',), ('AC/DC',))

INFO:sqlalchemy.engine.base.Engine:(('Led Zeppling',), ('AC/DC',))

2018-07-10 16:33:46,267 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [223]:
conn.execute(album.insert(),[
    {"title":"IV", "artist_id":1},
    {"title":"Who Made Who", "artist_id":2},
    
])

2018-07-10 16:33:33,347 INFO sqlalchemy.engine.base.Engine INSERT INTO "Album" (title, artist_id) VALUES (?, ?)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO "Album" (title, artist_id) VALUES (?, ?)

2018-07-10 16:33:33,349 INFO sqlalchemy.engine.base.Engine (('IV', 1), ('Who Made Who', 2))

INFO:sqlalchemy.engine.base.Engine:(('IV', 1), ('Who Made Who', 2))

2018-07-10 16:33:33,353 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [225]:
conn.execute(genre.insert(),[
    {"name":"Rock"},
    {"name":"Metal"}
])

2018-07-10 16:33:51,024 INFO sqlalchemy.engine.base.Engine INSERT INTO "Genre" (name) VALUES (?)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO "Genre" (name) VALUES (?)

2018-07-10 16:33:51,026 INFO sqlalchemy.engine.base.Engine (('Rock',), ('Metal',))

INFO:sqlalchemy.engine.base.Engine:(('Rock',), ('Metal',))

2018-07-10 16:33:51,029 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [234]:
conn.execute(Track.insert(),[
    {"title":"Black Dog","rating":5,"length":297,"count":0,"album_id":1,"genre_id":1},
    {"title":"Stairway","rating":5,"length":482,"count":0,"album_id":1,"genre_id":1},
    {"title":"About to rock","rating":5,"length":313,"count":0,"album_id":2,"genre_id":2},
    {"title":"Who Made Who","rating":5,"length":297,"count":0,"album_id":2,"genre_id":2}
    
])

2018-07-10 16:36:38,702 INFO sqlalchemy.engine.base.Engine INSERT INTO "Track" (title, length, rating, count, album_id, genre_id) VALUES (?, ?, ?, ?, ?, ?)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO "Track" (title, length, rating, count, album_id, genre_id) VALUES (?, ?, ?, ?, ?, ?)

2018-07-10 16:36:38,705 INFO sqlalchemy.engine.base.Engine (('Black Dog', 297, 5, 0, 1, 1), ('Stairway', 482, 5, 0, 1, 1), ('About to rock', 313, 5, 0, 2, 2), ('Who Made Who', 297, 5, 0, 2, 2))

INFO:sqlalchemy.engine.base.Engine:(('Black Dog', 297, 5, 0, 1, 1), ('Stairway', 482, 5, 0, 1, 1), ('About to rock', 313, 5, 0, 2, 2), ('Who Made Who', 297, 5, 0, 2, 2))

2018-07-10 16:36:38,709 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [209]:
artistResult = conn.execute(artist.select())
for row in artistResult:
    print(row)
    
albumResult = conn.execute(album.select())
for row in albumResult:
    print(row)
    
genreResult = conn.execute(genre.select())
for row in genreResult:
    print(row)

2018-07-10 16:26:19,250 INFO sqlalchemy.engine.base.Engine SELECT "Artist".id, "Artist".name
FROM "Artist"

INFO:sqlalchemy.engine.base.Engine:SELECT "Artist".id, "Artist".name
FROM "Artist"

2018-07-10 16:26:19,252 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

(1, 'Led Zeppling')
(2, 'AC/DC')
(3, 'Led Zeppling')
(4, 'AC/DC')
(5, 'Led Zeppling')
(6, 'AC/DC')
2018-07-10 16:26:19,256 INFO sqlalchemy.engine.base.Engine SELECT "Album".id, "Album".title, "Album".artist_id
FROM "Album"

INFO:sqlalchemy.engine.base.Engine:SELECT "Album".id, "Album".title, "Album".artist_id
FROM "Album"

2018-07-10 16:26:19,258 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

(1, 'IV', 1)
(2, 'Who Made Who', 2)
(3, 'IV', 1)
(4, 'Who Made Who', 2)
2018-07-10 16:26:19,261 INFO sqlalchemy.engine.base.Engine SELECT "Genre".id, "Genre".name
FROM "Genre"

INFO:sqlalchemy.engine.base.Engine:SELECT "Genre".id, "Genre".name
FROM "Genre"

2018-07-10 16:26:19,263 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

(1, 'Rock')
(2, 'Metal')
(3, 'Rock')
(4, 'Metal')

In [207]:
trackResult = conn.execute(Track.select())
for row in trackResult:
    print(row)

2018-07-10 16:25:53,788 INFO sqlalchemy.engine.base.Engine SELECT "Artist".id, "Artist".name
FROM "Artist"

INFO:sqlalchemy.engine.base.Engine:SELECT "Artist".id, "Artist".name
FROM "Artist"

2018-07-10 16:25:53,790 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

(1, 'Led Zeppling')
(2, 'AC/DC')
(3, 'Led Zeppling')
(4, 'AC/DC')
(5, 'Led Zeppling')
(6, 'AC/DC')
2018-07-10 16:25:53,794 INFO sqlalchemy.engine.base.Engine SELECT "Album".id, "Album".title, "Album".artist_id
FROM "Album"

INFO:sqlalchemy.engine.base.Engine:SELECT "Album".id, "Album".title, "Album".artist_id
FROM "Album"

2018-07-10 16:25:53,795 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

(1, 'IV', 1)
(2, 'Who Made Who', 2)
(3, 'IV', 1)
(4, 'Who Made Who', 2)
2018-07-10 16:25:53,798 INFO sqlalchemy.engine.base.Engine SELECT "Genre".id, "Genre".name
FROM "Genre"

INFO:sqlalchemy.engine.base.Engine:SELECT "Genre".id, "Genre".name
FROM "Genre"

2018-07-10 16:25:53,800 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

(1, 'Rock')
(2, 'Metal')
(3, 'Rock')
(4, 'Metal')
2018-07-10 16:25:53,803 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track"

INFO:sqlalchemy.engine.base.Engine:SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track"

2018-07-10 16:25:53,806 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:25:53,808 INFO sqlalchemy.engine.base.Engine ROLLBACK

INFO:sqlalchemy.engine.base.Engine:ROLLBACK

OperationalError: (sqlite3.OperationalError) no such column: Track.title [SQL: 'SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id \nFROM "Track"'] (Background on this error at: http://sqlalche.me/e/e3q8)

In [204]:
result = conn.execute(select([Track])
                      .where(
                          and_(
                              Track.c.album_id == 1 , 
                                or_(Track.c.genre_id==1,Track.c.genre_id==2)
                          )
                      ))
for row in result:
    print(row)

2018-07-10 16:24:41,564 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track"
WHERE "Track".album_id = ? AND ("Track".genre_id = ? OR "Track".genre_id = ?)

INFO:sqlalchemy.engine.base.Engine:SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track"
WHERE "Track".album_id = ? AND ("Track".genre_id = ? OR "Track".genre_id = ?)

2018-07-10 16:24:41,566 INFO sqlalchemy.engine.base.Engine (1, 1, 2)

INFO:sqlalchemy.engine.base.Engine:(1, 1, 2)

2018-07-10 16:24:41,569 INFO sqlalchemy.engine.base.Engine ROLLBACK

INFO:sqlalchemy.engine.base.Engine:ROLLBACK

OperationalError: (sqlite3.OperationalError) no such column: Track.title [SQL: 'SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id \nFROM "Track" \nWHERE "Track".album_id = ? AND ("Track".genre_id = ? OR "Track".genre_id = ?)'] [parameters: (1, 1, 2)] (Background on this error at: http://sqlalche.me/e/e3q8)

In [205]:
result = conn.execute(select([Track]))
for row in result:
    print(row)

2018-07-10 16:24:48,607 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track"

INFO:sqlalchemy.engine.base.Engine:SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track"

2018-07-10 16:24:48,610 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:24:48,612 INFO sqlalchemy.engine.base.Engine ROLLBACK

INFO:sqlalchemy.engine.base.Engine:ROLLBACK

OperationalError: (sqlite3.OperationalError) no such column: Track.title [SQL: 'SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id \nFROM "Track"'] (Background on this error at: http://sqlalche.me/e/e3q8)

In [162]:
from sqlalchemy import update

conn.execute(Track.update().values(genre_id=1).where(Track.c.genre_id==3))

2018-07-10 15:45:21,578 INFO sqlalchemy.engine.base.Engine UPDATE "Track" SET genre_id=? WHERE "Track".genre_id = ?

INFO:sqlalchemy.engine.base.Engine:UPDATE "Track" SET genre_id=? WHERE "Track".genre_id = ?

2018-07-10 15:45:21,580 INFO sqlalchemy.engine.base.Engine (1, 3)

INFO:sqlalchemy.engine.base.Engine:(1, 3)

2018-07-10 15:45:21,582 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [165]:
print(Track.join(album))

"Track" JOIN "Album" ON "Album".id = "Track".album_id

In [167]:
result = conn.execute(Track.select().select_from(Track.join(album)))

2018-07-10 15:48:07,129 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".name, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id

INFO:sqlalchemy.engine.base.Engine:SELECT "Track".id, "Track".name, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id

2018-07-10 15:48:07,131 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

In [168]:
for row in result:
    print(row)

(1, 'Black Dog', 297, 5, 0, 1, 1)
(2, 'Stairway', 482, 5, 0, 1, 1)
(3, 'About to rock', 313, 5, 0, 2, 2)
(4, 'Who Made Who', 297, 5, 0, 2, 2)

In [176]:
result = conn.execute(select([Track.c.name,album.c.title]).select_from(Track.join(album)))

2018-07-10 15:51:16,407 INFO sqlalchemy.engine.base.Engine SELECT "Track".name, "Album".title
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id

INFO:sqlalchemy.engine.base.Engine:SELECT "Track".name, "Album".title
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id

2018-07-10 15:51:16,409 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

In [177]:
for row in result:
    print(row)

('Black Dog', 'IV')
('Stairway', 'IV')
('About to rock', 'Who Made Who')
('Who Made Who', 'Who Made Who')

In [185]:
print(Track.join(album))
print(Track.join(album).join(genre))
print(Track.join(album).join(artist))
print(Track.join(album).join(genre).join(artist))
a=Track.join(album).join(genre).join(artist)

result = conn.execute(select([Track.c.name,album.c.title,genre.c.name,artist.c.name])
                     .select_from(a)
                     .where(
                         and_(genre.c.id == 1,
                             artist.c.name.like=="%pp%")
                     ))

"Track" JOIN "Album" ON "Album".id = "Track".album_id
"Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id
"Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Artist" ON "Artist".id = "Album".artist_id
"Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id
2018-07-10 16:20:14,391 INFO sqlalchemy.engine.base.Engine SELECT "Track".name, "Album".title, "Genre".name, "Artist".name
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id
WHERE 0 = 1

INFO:sqlalchemy.engine.base.Engine:SELECT "Track".name, "Album".title, "Genre".name, "Artist".name
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id
WHERE 0 = 1

2018-07-10 16:20:14,393 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

In [184]:
for row in result:
    print(row)

('Black Dog', 'IV', 'Rock', 'Led Zeppling')
('Stairway', 'IV', 'Rock', 'Led Zeppling')

In [213]:
from sqlalchemy import create_engine,MetaData
engine = create_engine("sqlite:///alchemytest.db",echo=True)

In [214]:
conn = engine.connect()

2018-07-10 16:28:28,461 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1

2018-07-10 16:28:28,463 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:28,465 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1

2018-07-10 16:28:28,467 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

In [215]:
metadata = MetaData(bind=engine,reflect=True)

2018-07-10 16:28:54,881 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name

C:\Users\jyh54\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SADeprecationWarning: reflect=True is deprecate; please use the reflect() method.
  """Entry point for launching an IPython kernel.
INFO:sqlalchemy.engine.base.Engine:SELECT name FROM sqlite_master WHERE type='table' ORDER BY name

2018-07-10 16:28:54,883 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:54,887 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("Album")

2018-07-10 16:28:54,889 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:54,893 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'

2018-07-10 16:28:54,895 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:54,899 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Album")

INFO:sqlalchemy.engine.base.Engine:PRAGMA foreign_key_list("Album")

2018-07-10 16:28:54,901 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:54,903 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'

2018-07-10 16:28:54,905 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:54,912 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("Artist")

2018-07-10 16:28:54,914 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:54,917 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'

2018-07-10 16:28:54,919 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:54,921 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Artist")

INFO:sqlalchemy.engine.base.Engine:PRAGMA foreign_key_list("Artist")

2018-07-10 16:28:54,923 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:54,925 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'

2018-07-10 16:28:54,927 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:54,930 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("Artist")

2018-07-10 16:28:54,931 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:54,934 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("Artist")

2018-07-10 16:28:54,936 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:54,939 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'

2018-07-10 16:28:54,940 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:54,946 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("Album")

2018-07-10 16:28:54,947 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:54,949 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("Album")

2018-07-10 16:28:54,951 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:54,954 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'

2018-07-10 16:28:54,956 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:54,959 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("Genre")

2018-07-10 16:28:54,961 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:54,964 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'

2018-07-10 16:28:54,965 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:54,968 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Genre")

INFO:sqlalchemy.engine.base.Engine:PRAGMA foreign_key_list("Genre")

2018-07-10 16:28:54,969 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:54,971 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'

2018-07-10 16:28:54,973 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:54,976 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("Genre")

2018-07-10 16:28:54,978 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:54,980 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("Genre")

2018-07-10 16:28:54,982 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:54,984 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'

2018-07-10 16:28:54,985 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:54,988 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("Track")

2018-07-10 16:28:54,990 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:54,993 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'

2018-07-10 16:28:54,994 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:54,997 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Track")

INFO:sqlalchemy.engine.base.Engine:PRAGMA foreign_key_list("Track")

2018-07-10 16:28:54,999 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:55,001 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'

2018-07-10 16:28:55,003 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:55,006 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("Track")

2018-07-10 16:28:55,007 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:55,010 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("Track")

2018-07-10 16:28:55,011 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:55,014 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'

2018-07-10 16:28:55,015 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:55,018 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("addresses")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("addresses")

2018-07-10 16:28:55,020 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:55,022 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'addresses' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'addresses' AND type = 'table'

2018-07-10 16:28:55,024 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:55,027 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("addresses")

INFO:sqlalchemy.engine.base.Engine:PRAGMA foreign_key_list("addresses")

2018-07-10 16:28:55,028 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:55,031 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'addresses' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'addresses' AND type = 'table'

2018-07-10 16:28:55,033 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:55,036 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("users")

2018-07-10 16:28:55,038 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:55,041 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'users' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'users' AND type = 'table'

2018-07-10 16:28:55,042 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:55,045 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("users")

INFO:sqlalchemy.engine.base.Engine:PRAGMA foreign_key_list("users")

2018-07-10 16:28:55,047 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:55,049 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'users' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'users' AND type = 'table'

2018-07-10 16:28:55,051 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:55,053 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("users")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("users")

2018-07-10 16:28:55,055 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:55,058 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("users")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("users")

2018-07-10 16:28:55,062 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:55,065 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'users' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'users' AND type = 'table'

2018-07-10 16:28:55,067 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:55,070 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("addresses")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("addresses")

2018-07-10 16:28:55,072 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:55,074 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("addresses")

INFO:sqlalchemy.engine.base.Engine:PRAGMA index_list("addresses")

2018-07-10 16:28:55,076 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-07-10 16:28:55,078 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'addresses' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'addresses' AND type = 'table'

2018-07-10 16:28:55,081 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

In [217]:
metadata.reflect(bind=engine)

2018-07-10 16:30:29,805 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name

INFO:sqlalchemy.engine.base.Engine:SELECT name FROM sqlite_master WHERE type='table' ORDER BY name

2018-07-10 16:30:29,807 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

In [220]:
for row in engine.table_names():
    print(row)

2018-07-10 16:31:31,063 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name

INFO:sqlalchemy.engine.base.Engine:SELECT name FROM sqlite_master WHERE type='table' ORDER BY name

2018-07-10 16:31:31,066 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

Album
Artist
Genre
Track
addresses
users

In [240]:
album = metadata.tables["Album"]
artist = metadata.tables["Artist"]
genre = metadata.tables["Genre"]
track = metadata.tables["Track"]

In [237]:
result = conn.execute(album.select())
for row in result:
    print(row)

2018-07-10 16:37:16,315 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track"

INFO:sqlalchemy.engine.base.Engine:SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track"

2018-07-10 16:37:16,317 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

(1, 'Black Dog', 297, 5, 0, 1, 1)
(2, 'Stairway', 482, 5, 0, 1, 1)
(3, 'About to rock', 313, 5, 0, 2, 2)
(4, 'Who Made Who', 297, 5, 0, 2, 2)

#  orm 사용해보기

In [1]:
from sqlalchemy import create_engine
engine = create_engine("sqlite://",echo=True)

In [2]:
from sqlalchemy.ext.declarative import declarative_base

In [3]:
Base = declarative_base()

In [5]:
from sqlalchemy import Column,Integer,String,ForeignKey

In [6]:
class Artist(Base):
    __tablename__ = "artist"
    id = Column(Integer, primary_key = True)
    name = Column(String)
    
    def __repr__(self):
        return "<T'artist(name='%s')>" % (self.name)
    

class Album(Base):
    __tablename__ = "album"
    id = Column(Integer, primary_key = True)
    title = Column(String)
    artist_id = Column(Integer,ForeignKey("artist.id"))
  

class Genre(Base):
    __tablename__ = "genre"
    id = Column(Integer, primary_key = True)
    name = Column(String)
    

class Track(Base):
    __tablename__ = "track"
    id = Column(Integer, primary_key = True)
    title = Column(String)
    album_id = Column(Integer,ForeignKey("album.id"))
    genre_id = Column(Integer,ForeignKey("genre.id"))

In [7]:
Base.metadata.create_all(engine)

2018-07-10 17:15:07,901 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-10 17:15:07,914 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:15:07,917 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-10 17:15:07,918 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:15:07,920 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("artist")
2018-07-10 17:15:07,921 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:15:07,923 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("album")
2018-07-10 17:15:07,924 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:15:07,925 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("genre")
2018-07-10 17:15:07,926 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:15:07,928 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("track")
2018-07-10 17:15:07,929 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:15:07,930 INFO sqlalchemy.engine.base.Engine
CREATE TABLE artist (
	id INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id)
)


2018-07-10 17:15:07,932 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:15:07,933 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 17:15:07,934 INFO sqlalchemy.engine.base.Engine
CREATE TABLE genre (
	id INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id)
)


2018-07-10 17:15:07,936 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:15:07,937 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 17:15:07,938 INFO sqlalchemy.engine.base.Engine
CREATE TABLE album (
	id INTEGER NOT NULL,
	title VARCHAR,
	artist_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(artist_id) REFERENCES artist (id)
)


2018-07-10 17:15:07,940 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:15:07,941 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 17:15:07,942 INFO sqlalchemy.engine.base.Engine
CREATE TABLE track (
	id INTEGER NOT NULL,
	title VARCHAR,
	album_id INTEGER,
	genre_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(album_id) REFERENCES album (id),
	FOREIGN KEY(genre_id) REFERENCES genre (id)
)


2018-07-10 17:15:07,943 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 17:15:07,945 INFO sqlalchemy.engine.base.Engine COMMIT

In [8]:
artist1=Artist(name="Led Zepplin")
artist2=Artist(name="AC/DC")

In [9]:
from sqlalchemy.orm import sessionmaker

In [10]:
Session = sessionmaker(bind=engine)

In [11]:
session = Session()

In [12]:
session.add_all([artist1,artist2])

In [39]:
session.commit()

2018-07-10 17:28:59,691 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-10 17:28:59,693 INFO sqlalchemy.engine.base.Engine INSERT INTO genre (name) VALUES (?)
2018-07-10 17:28:59,694 INFO sqlalchemy.engine.base.Engine ('Rock',)
2018-07-10 17:28:59,696 INFO sqlalchemy.engine.base.Engine INSERT INTO genre (name) VALUES (?)
2018-07-10 17:28:59,697 INFO sqlalchemy.engine.base.Engine ('Metal',)
2018-07-10 17:28:59,699 INFO sqlalchemy.engine.base.Engine INSERT INTO track (title, album_id, genre_id) VALUES (?, ?, ?)
2018-07-10 17:28:59,700 INFO sqlalchemy.engine.base.Engine ('1-1', 1, 1)
2018-07-10 17:28:59,702 INFO sqlalchemy.engine.base.Engine INSERT INTO track (title, album_id, genre_id) VALUES (?, ?, ?)
2018-07-10 17:28:59,703 INFO sqlalchemy.engine.base.Engine ('1-2', 1, 2)
2018-07-10 17:28:59,704 INFO sqlalchemy.engine.base.Engine INSERT INTO track (title, album_id, genre_id) VALUES (?, ?, ?)
2018-07-10 17:28:59,706 INFO sqlalchemy.engine.base.Engine ('2-1', 2, 1)
2018-07-10 17:28:59,707 INFO sqlalchemy.engine.base.Engine INSERT INTO track (title, album_id, genre_id) VALUES (?, ?, ?)
2018-07-10 17:28:59,708 INFO sqlalchemy.engine.base.Engine ('2-2', 2, 2)
2018-07-10 17:28:59,710 INFO sqlalchemy.engine.base.Engine COMMIT

In [40]:
session.dirty # 수정이 되었는지 체크하는 것, 만약 있따면 commint을 해야한다

IdentitySet([])

In [41]:
session.new # 생성이 되었는지  체크

IdentitySet([])

In [18]:
artist1.name = "xyz"

In [28]:
session.add_all([Album(title="1",artist_id=1),Album(title="2",artist_id=2)])

In [35]:
session.add_all([Genre(name="Rock"),
                 Genre(name="Metal")])

In [36]:
session.add_all([Track(title="1-1",album_id=1,genre_id=1),
                 Track(title="1-2",album_id=1,genre_id=2),
                Track(title="2-1",album_id=2,genre_id=1),
                Track(title="2-2",album_id=2,genre_id=2)])

In [42]:
tmp=Track(title="3-3",album_id=3,genre_id=3)

In [45]:
session.add(tmp)

In [48]:
session.new

IdentitySet([<__main__.Track object at 0x000001FE7BFDCE48>])

In [50]:
print(tmp.id)

2018-07-10 17:31:50,965 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-10 17:31:50,967 INFO sqlalchemy.engine.base.Engine SELECT track.id AS track_id, track.title AS track_title, track.album_id AS track_album_id, track.genre_id AS track_genre_id
FROM track
WHERE track.id = ?
2018-07-10 17:31:50,969 INFO sqlalchemy.engine.base.Engine (5,)
5

In [49]:
session.commit()

2018-07-10 17:31:48,258 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-10 17:31:48,260 INFO sqlalchemy.engine.base.Engine INSERT INTO track (title, album_id, genre_id) VALUES (?, ?, ?)
2018-07-10 17:31:48,261 INFO sqlalchemy.engine.base.Engine ('3-3', 3, 3)
2018-07-10 17:31:48,262 INFO sqlalchemy.engine.base.Engine COMMIT

In [54]:
for row in session.query(Artist).filter(Artist.id==1):
    print(row.name,row.id)

2018-07-10 17:34:46,991 INFO sqlalchemy.engine.base.Engine SELECT artist.id AS artist_id, artist.name AS artist_name
FROM artist
WHERE artist.id = ?
2018-07-10 17:34:46,992 INFO sqlalchemy.engine.base.Engine (1,)
xyz 1

In [55]:
session.dirty

IdentitySet([])