# 7.12 studyFile

### 정리 ( 릴레이션 추가)

In [8]:
from sqlalchemy import Table,Column,Integer,String,MetaData,ForeignKey

In [9]:
from sqlalchemy import create_engine,MetaData
engine = create_engine("sqlite:///7.14.db",echo=True)

In [10]:
from sqlalchemy.ext.declarative import declarative_base

In [11]:
Base = declarative_base()

In [12]:
from sqlalchemy.orm import relationship

In [13]:
class Artist(Base):
    __tablename__ = "artist"
    id = Column(Integer, primary_key = True)
    name = Column(String)
    album = relationship("Album",back_populates="artist") 
    #리스트가 아니므로 
    def __repr__(self):
        return "<T'artist(name='%s')>" % (self.name)
    

class Album(Base):
    __tablename__ = "album"
    id = Column(Integer, primary_key = True)
    title = Column(String)
    artist_id = Column(Integer,ForeignKey("artist.id"))
    artist = relationship("Artist",back_populates="album")
    
class Genre(Base):
    __tablename__ = "genre"
    id = Column(Integer, primary_key = True)
    name = Column(String)
    

class Track(Base):
    __tablename__ = "track"
    id = Column(Integer, primary_key = True)
    title = Column(String)
    album_id = Column(Integer,ForeignKey("album.id"))
    genre_id = Column(Integer,ForeignKey("genre.id"))

In [14]:
Base.metadata.create_all(engine)

2018-07-17 23:50:03,892 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-17 23:50:03,894 INFO sqlalchemy.engine.base.Engine ()
2018-07-17 23:50:03,895 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-17 23:50:03,897 INFO sqlalchemy.engine.base.Engine ()
2018-07-17 23:50:03,898 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("artist")
2018-07-17 23:50:03,899 INFO sqlalchemy.engine.base.Engine ()
2018-07-17 23:50:03,901 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("album")
2018-07-17 23:50:03,902 INFO sqlalchemy.engine.base.Engine ()
2018-07-17 23:50:03,904 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("genre")
2018-07-17 23:50:03,905 INFO sqlalchemy.engine.base.Engine ()
2018-07-17 23:50:03,906 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("track")
2018-07-17 23:50:03,907 INFO sqlalchemy.engine.base.Engine ()
2018-07-17 23:50:03,909 INFO sqlalchemy.engine.base.Engine
CREATE TABLE artist (
	id INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id)
)


2018-07-17 23:50:03,910 INFO sqlalchemy.engine.base.Engine ()
2018-07-17 23:50:03,932 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-17 23:50:03,935 INFO sqlalchemy.engine.base.Engine
CREATE TABLE genre (
	id INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id)
)


2018-07-17 23:50:03,936 INFO sqlalchemy.engine.base.Engine ()
2018-07-17 23:50:03,951 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-17 23:50:03,954 INFO sqlalchemy.engine.base.Engine
CREATE TABLE album (
	id INTEGER NOT NULL,
	title VARCHAR,
	artist_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(artist_id) REFERENCES artist (id)
)


2018-07-17 23:50:03,956 INFO sqlalchemy.engine.base.Engine ()
2018-07-17 23:50:03,973 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-17 23:50:03,976 INFO sqlalchemy.engine.base.Engine
CREATE TABLE track (
	id INTEGER NOT NULL,
	title VARCHAR,
	album_id INTEGER,
	genre_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(album_id) REFERENCES album (id),
	FOREIGN KEY(genre_id) REFERENCES genre (id)
)


2018-07-17 23:50:03,977 INFO sqlalchemy.engine.base.Engine ()
2018-07-17 23:50:03,990 INFO sqlalchemy.engine.base.Engine COMMIT

In [8]:
artist1=Artist(name="Led Zepplin")
artist2=Artist(name="AC/DC")

In [9]:
artist1.album = [Album(title="IV"),Album(title="Who Made who")]

In [10]:
from sqlalchemy.orm import sessionmaker

In [11]:
Session = sessionmaker(bind=engine)

In [12]:
session = Session()

In [13]:
session.add(artist1)

In [14]:
session.dirty

IdentitySet([])

In [15]:
session.commit()

2018-07-12 11:18:15,177 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-12 11:18:15,181 INFO sqlalchemy.engine.base.Engine INSERT INTO artist (name) VALUES (?)
2018-07-12 11:18:15,183 INFO sqlalchemy.engine.base.Engine ('Led Zepplin',)
2018-07-12 11:18:15,187 INFO sqlalchemy.engine.base.Engine INSERT INTO album (title, artist_id) VALUES (?, ?)
2018-07-12 11:18:15,189 INFO sqlalchemy.engine.base.Engine ('IV', 1)
2018-07-12 11:18:15,191 INFO sqlalchemy.engine.base.Engine INSERT INTO album (title, artist_id) VALUES (?, ?)
2018-07-12 11:18:15,192 INFO sqlalchemy.engine.base.Engine ('Who Made who', 1)
2018-07-12 11:18:15,193 INFO sqlalchemy.engine.base.Engine COMMIT

In [20]:
%%writefile test1.html
<!doctype html>
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>Simple HTML document</title>
</head>
<body>
    <h1>Hello World!</h1>
    
</body>
</html>

Overwriting test1.html

In [22]:
%%html
<!doctype html>
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>Simple HTML document</title>
</head>
<body>
    <h1>Hello World!</h1>
    
</body>
</html>

In [24]:
%%html
<!doctype html>
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>Example of HTML Headings tag</title>
    <meta name = "viewpoint" content="width=device-width,inital-scale=1.0">
</head>
<body>
    <h1>Heading level 1!</h1>
    <h2>Heading level 2!</h2>
    <h3>Heading level 3!</h3>
    <h4>Heading level 4!</h4>
    <h5>Heading level 5!</h5>
    <h6>Heading level 6!</h6>
    
</body>
</html>

In [28]:
%%html
<!doctype html>
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>Example of HTML Paragraphs</title>
    <meta name = "viewpoint" content="width=device-width,inital-scale=1.0">
</head>
<body>
    <p>This is a paragraph.</p>
    <p>This is a another paragraph.</p>
    
    
</body>
</html>