# 이번주 : 데이터 처리

### DB에 대하여

sql 구문

문 , 절 , 식 , 술어 

update cluase 
set clause
where clause

data type ; boolean. character exact numeric , approximate numeric , datetime

- varchar 는 가변형 길이기 때문에 주로 사용한다.

char : 길이가 1인 char, char(n) : 길이가 n인 char

In [2]:
import sqlite3

In [5]:
sqlite3.version_

(2, 6, 0)

In [9]:
s = sqlite3

In [10]:
s.sqlite_version_info

(3, 21, 0)

In [11]:
conn = sqlite3.connect(':memory:')

conn는 단순히 접속을 위한것

In [12]:
cur = conn.cursor()

커서가 sql문을 전송

In [13]:
type(cur)

sqlite3.Cursor

In [14]:
dir(cur)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'arraysize',
 'close',
 'connection',
 'description',
 'execute',
 'executemany',
 'executescript',
 'fetchall',
 'fetchmany',
 'fetchone',
 'lastrowid',
 'row_factory',
 'rowcount',
 'setinputsizes',
 'setoutputsize']

In [16]:
cur.execute("create table people (name_last,age)")

In [46]:
who = "yeltain"
age = 72 

cur.execute("insert into people values (?,?)" , (who,age))

In [47]:
cur.execute("select * from people")

In [51]:
cur.fetchone()

In [90]:
sql = "insert into people values (?, ?)"
curData = [('A',1),('B',2),('C',3)]

In [91]:
cur.executemany(sql,curData)
cur.execute("select * from people")

In [67]:
cur.fetchmany(5)

[('yeltain', 72), ('A', 1), ('B', 2), ('C', 3), ('A', 1)]

In [78]:
cur.execute("delete  from people ")

In [79]:
cur.fetchall()

[]

In [80]:
cur.executescript(
"""
    create table person (
        first_name text primary key,
        last_name text not null
    );
    
    insert into person values('name','kim')
"""
)

In [81]:
cur.execute("select * from person")

In [82]:
cur.fetchall()

[('name', 'kim')]

In [100]:
cur = conn.cursor()
def select_all(table_name):
    cur.execute("select * from "+ table_name)
    print(cur.fetchall())

In [92]:
select_all('people')

[('A', 1), ('B', 2), ('C', 3)]

In [93]:
conn.close()

In [94]:
conn = sqlite3.connect('create.db')

In [95]:
conn.execute('''
    CREATE TABLE COMPANY(
        ID INT PRIMARY KEY NOT NULL,
        NAME TEXT NOT NULL,
        AGE INT NOT NULL,
        ADDRESS CHAR(50),
        SALARY REAL);
    ''')
print("Table created successfully")

Table created successfully

In [96]:
conn.execute("insert into company (id,name,age,address,salary) \
                values (1,'Paul',32,'California',20000.00)")

In [97]:
conn.execute("insert into company (id,name,age,address,salary) \
                values (:id,:name,:age,:address,:salary)",
            {'id':2,'name':'Allen','age':25,'address':'Texas','salary':15000.00})

In [107]:
data = [(3,'teddy',23,'Norway',200000.00),
        (4,'Mark',25,'Rich-Mond',65000.00)]
conn.executemany("insert into company (id,name,age,address,salary) \
                values (?,?,?,?,?)",data);

In [112]:
conn.executescript("""
    insert into company (id,name,age,address,salary) \
                values (5,'Mark1',25,'Rich-mond',65000.00);
    insert into company (id,name,age,address,salary) \
                values (6,'Mark2',25,'Rich-mond',65000.00);
""");

In [113]:
conn.commit()
print("rescord created successfully")

rescord created successfully

In [115]:
res = select_all('company')

[(1, 'Paul', 32, 'California', 20000.0), (2, 'Allen', 25, 'Texas', 15000.0), (3, 'teddy', 23, 'Norway', 200000.0), (4, 'Mark', 25, 'Rich-Mond', 65000.0), (5, 'Mark1', 25, 'Rich-mond', 65000.0), (6, 'Mark2', 25, 'Rich-mond', 65000.0)]

In [130]:
tmp = conn.execute("select * from company")

In [131]:
for row in tmp:
    print(row)

(1, 'Paul', 32, 'California', 20000.0)
(2, 'Allen', 25, 'Texas', 15000.0)
(3, 'teddy', 23, 'Norway', 400.0)
(4, 'Mark', 25, 'Rich-Mond', 65000.0)
(5, 'Mark1', 25, 'Rich-mond', 65000.0)
(6, 'Mark2', 25, 'Rich-mond', 65000.0)

In [129]:
conn.execute("update company set salary = 400.00 where id = 3")

In [132]:
conn.commit()

In [133]:
import sqlite3 as sql

con = None

In [134]:
try:
    con = sql.connect('test.db')
    cur = con.cursor()
    cur.execute('select SQLITE_VERSION()')
    data = cur.fetchone()
    print("sqlite version: " , data)
except Exception as e:
    print("error: ",e)
finally:
    if con:
        con.close()

sqlite version:  ('3.21.0',)

In [159]:
con = sql.connect('test.db')

with con:
    cur = con.cursor()
    #cur.execute('create table cars(id int primary key,name text,price int)')

In [164]:
try:
    cars = [
        (1,'audi',52642),
        (2,'Mercedes',57127),
        (3,'Skoda',9000),
        (4,'Volvo',29000),
        (5,'Bentley',350000),
        (6,'Hummer',41400),
        (7,'Volkswagen',21600),
    ]
    cur.executemany("insert into cars values(?,?,?)",cars)
    cur.commit()
except Exception as e:
    if con:
        con.rollback()
    print("error:",e)
finally:
    if con:
        con.close()

error: 'sqlite3.Cursor' object has no attribute 'commit'

In [165]:
con = sql.connect('test.db')

with con:
    cur = con.cursor()
cur.execute('select * from cars')
print(cur.fetchall())

[]

In [140]:
cur.fetchall()

[(1, 'audi', 52642),
 (2, 'Mercedes', 57127),
 (3, 'Skoda', 9000),
 (4, 'Volvo', 29000),
 (5, 'Bentley', 350000),
 (6, 'Hummer', 41400)]

In [149]:
con = sql.connect(':memory:')

with con:
    cur= con.cursor()
    cur.execute("create table Friends(id integer primary key,name text);")
    cur.execute("insert into friends(name) values('Tom');")
    cur.execute("insert into friends(name) values('Rebecca');")
    cur.execute("insert into friends(name) values('Jim');")
    cur.execute("insert into friends(name) values('Robert');")
    
    lid = cur.lastrowid
    print("The last Id of the inserted row is",lid)

The last Id of the inserted row is 4

In [150]:
cur.execute('select * from friends')
print(cur.fetchall())

[(1, 'Tom'), (2, 'Rebecca'), (3, 'Jim'), (4, 'Robert')]

In [154]:

con = sql.connect('test.db')
con.commit()
with con:
    cur = con.cursor()
    cur.execute('select * from cars')
    
    while True:
        row = cur.fetchone()
        
        if row == None:
            break
            
        print(row[0],row[1],row[2])

In [166]:
import sqlite3

con = sqlite3.connect('exising_db.db')
with open('dump.sql','w') as f:
    for line in con.iterdump():
        f.write('%s\n' % line)